
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">

    <div *ngIf="this.vals.dateStrings[0]== null">
    Start date for new schedule: <input [(ngModel)]="this.vals.dateStrings[0]" type="date" class="form-control"
                                        name="schedule-start-date" size="12" (change)="string2Date();">
      </div>
    <div *ngIf="this.vals.dateStrings[0]!= null">
      <input [(ngModel)]="this.vals.dateStrings[0]" type="date" class="form-control"
             name="schedule-start-date" size="12" (change)="string2Date();">
    </div>
  </div>


  <div class="col-2"></div>
</div>

<hr>

<div class="row">

  <div class="col-1"></div>

  <div class="col-8">

<div *ngIf="this.vals.dateStrings[0]">

    <form (ngSubmit)="onSubmit()" #scheduleForm="ngForm">
      <table class="setScheduleTable table">
        <tr *ngFor="let val of [0, 1, 2, 3, 4, 5, 6]; let i = index">
          <td>{{this.vals.dateStrings[i]}}</td>
          <td>
            <table class="setScheduleOptionsTable">
              <tr>
                <td><input [(ngModel)]="this.vals.shopAMbools[i]" name="shopAMbool_{{i}}" type="checkbox"> Shop AM</td>
                <td><input [(ngModel)]="this.vals.shopAMtimes[i]" name="shopAMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
                <td><input [(ngModel)]="this.vals.shopPMbools[i]" name="shopPMbool_{{i}}" type="checkbox" checked> Shop PM</td>
                <td><input [(ngModel)]="this.vals.shopPMtimes[i]" name="shopPMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
              </tr>

              <tr>
                <td><input [(ngModel)]="this.vals.cartsAMbools[i] " name="cartsAMbool_{{i}}" type="checkbox"> Carts AM</td>
                <td><input [(ngModel)]="this.vals.cartsAMtimes[i]" name="cartsAMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
                <td><input [(ngModel)]="this.vals.cartsPMbools[i]" name="cartsPMbool_{{i}}" type="checkbox"checked> Carts PM</td>
                <td><input [(ngModel)]="this.vals.cartsPMtimes[i]" name="cartsPMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
              </tr>

              <tr>
                <td><input [(ngModel)]="this.vals.rangeAMbools[i]" name="rangeAMbool_{{i}}" type="checkbox"> Range AM</td>
                <td><input [(ngModel)]="this.vals.rangeAMtimes[i]" name="rangeAMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
                <td><input [(ngModel)]="this.vals.rangePMbools[i]" name="rangePMbool_{{i}}" type="checkbox"> Range PM</td>
                <td><input [(ngModel)]="this.vals.rangePMtimes[i]" name="rangePMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
              </tr>

              <tr>
                <td><input [(ngModel)]="this.vals.rrAMbools[i]" name="rrAMbool_{{i}}" type="checkbox"> RR AM</td>
                <td><input [(ngModel)]="this.vals.rrAMtimes[i]" name="rrAMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
                <td><input [(ngModel)]="this.vals.rrPMbools[i]" name="rrPMbool_{{i}}" type="checkbox"> RR PM</td>
                <td><input [(ngModel)]="this.vals.rrPMtimes[i]" name="rrPMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
              </tr>

              <tr>
                <td><input [(ngModel)]="this.vals.starterAMbools[i]" name="starterAMbool_{{i}}" type="checkbox"> Starter AM</td>
                <td><input [(ngModel)]="this.vals.starterAMtimes[i]" name="starterAMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
                <td><input [(ngModel)]="this.vals.starterPMbools[i]" name="starterPMbool_{{i}}" type="checkbox"> Starter PM</td>
                <td><input [(ngModel)]="this.vals.starterPMtimes[i]" name="starterPMtime_{{i}}" class="form-control-sm" type="time" size="9"></td>
              </tr>

              <tr>
                <td><input [(ngModel)]="this.vals.tcAMbools[i]" name="tcAMbool_{{i}}" type="checkbox"> Tournament Carts AM</td>
                <td>
                  <input [(ngModel)]="this.vals.tcAMtimes[i]" name="tcAMtime_{{i}}" class="form-control-sm" type="time" size="9">
                  <input [(ngModel)]="this.vals.tcAMamounts[i]" name="tcAMamount_{{i}}" class="form-control-sm" type="number" size="9" placeholder="Amount">
                </td>
                <td><input [(ngModel)]="this.vals.tcPMbools[i]" name="tcPMbool_{{i}}" type="checkbox"> Tournament Carts PM</td>
                <td>
                  <input [(ngModel)]="this.vals.tcPMtimes[i]" name="tcPMtime_{{i}}" class="form-control-sm" type="time" size="9">
                  <input [(ngModel)]="this.vals.tcPMamounts[i]" name="tcPMamount_{{i}}" class="form-control-sm" type="number" size="9" placeholder="Amount">
                </td>
              </tr>
              <tr>
                <td>Event Name: <input [(ngModel)]="this.vals.eventNames[i]" name="eventName_{{i}}" class="form-control-sm" type="text"
                                       placeholder="leave blank if none"></td>
                <td></td>
              </tr>

            </table>
          </td>
        </tr>

      </table>
    </form>

        <form (ngSubmit)="onSubmit()" #scheduleForm="ngForm">

    <div class="row">

      <div class="col-10"></div>
      <div class="col-2">
        <button class="btn btn-primary" type="submit">Generate Schedule</button>
      </div>
    </div>

  </form>

</div>

    </div>



</div>
