

<!-- The Modal (contains the Sign Up form) -->

  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to add an empoyee.</p>
      <hr>
      <label for="fName"><b>First Name</b></label>
      <input type="text" placeholder="Enter First Name" name="fName" [(ngModel)]="input.fName" required>

      <label for="lName"><b>Last Name</b></label>
      <input type="text" placeholder="Enter Last Name" name="lName" [(ngModel)]="input.lName" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="fName" [(ngModel)]="input.email" required>

      <label for="gender"><b>Gender: </b>
        <input type="radio" name="gender" value="M"> Male
        <input type="radio" name="gender" value="F"> Female
      </label><br><br>

      <label for="employeeType"><b>Employee Type: </b>
        <input type="radio" name="employeeType" value="admin"> Admin  
        <input type="radio" name="employeeType" value="manager"> Manager  
        <input type="radio" name="employeeType" value="employee"> Employee  
    
      </label><br><br>

      <label for="employeeType"><b>Employee Type: </b></label>
      <input [(ngModel)]="input.roles" name="role1" type="checkbox" value = "S"> Shop
      <input [(ngModel)]="input.roles" name="role2" type="checkbox" value = "R"> Range
      <input [(ngModel)]="input.roles" name="role3" type="checkbox" value = "C"> Carts
      <input [(ngModel)]="input.roles" name="role4" type="checkbox" value = "RR"> RR
      <input [(ngModel)]="input.roles" name="role5" type="checkbox" value = "ST"> Starter
     
      <br><br>



      <label for="userName"><b>User Name</b></label>
      <input type="text" placeholder="Enter User Name" name="userName" [(ngModel)]="input.userName" required>


      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="input.password" required>

      <label for="password-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="password-repeat" required>


 <div class="row">
    <div class = "col-2">
          <nav>
              <a class = "btn-btn block" routerLink = "/employee-info" role= "button" >Cancel</a>
            </nav>
            </div>
     <div class = "col-2">
        <nav>
          <a class = "btn-btn block" routerLink = "/employee-info" role= "button" (click)="register()">Register</a>
        </nav>
      </div>
      </div>
    </div>
  </form>

  <router-outlet></router-outlet>
