<div class="row">
                <div class="col-12">
                        <h1 class="merriweather"><b>UGA Golf Course Employee Hub</b></h1>
                </div>
        </div>

        <hr>

        <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                        <nav>
                        <a class="btn btn-block" role="button" routerLink = "/admin-view-schedule">Schedule</a>
                        </nav>
                </div>
                <div class="col-2">
                        <nav>
                        <a class="btn btn-block" role="button" routerLink = "/employee-info">Employee Info</a>
                        </nav>
                </div>
                <div class="col-2">
                        <nav>
                        <a class="btn btn-block" role="button" routerLink = "/admin-rto-page">Requests</a>
                        </nav>
                
                </div>
                <div class="col-2">
                 <nav>                   
                        <a class="btn btn-block" role="button" routerLink = "/admin-set-schedule">Generate Schedule</a>
                 </nav>
                </div>
                <div class="col-2"></div>
        </div>

        <hr>
        <router-outlet></router-outlet>