body{
	font-family:'Merriweather Sans', serif;
}

.merriweather{
	font-family:'Merriweather', serif;
}

.merriweatherSans{
	font-family:'Merriweather Sans', sans-serif;
}

h1{
	margin-top:20px;
	text-align:center;
}

.btn{
	background-color:#BA0C2F;
	border-color:#BA0C2F;
}

.btn:hover{
	background-color:#000000;
	border-color:#000000;
}

.btn-block{
	background-color:#E4002B;
	border-color:#E4002B;
}

.btn-block:hover{
	color:white;
}

.current-page{
	background-color:#000000;
	border-color:#000000;
	color:white;
}

.setScheduleTable{
  width:120%;
}

.setScheduleTable td{
  padding-right:100px;
}

.setScheduleOptionsTable td{
  padding-right:50px;
  padding-bottom: 10px;

}
