
<br><br>

<div class="row">
  <div class="col-2"></div>
  
  <div class="col-8">

    <form (ngSubmit)=onSubmit() id="ngForm">
    
      <div class="form-group row">
        <label for="firstDayRequested" class="col-2 col-form-label">Days Requesting:</label>
        <div class="col-4">
          <input [(ngModel)]="dateStrings[0]" type="date" class="form-control"
                                  name="first_date_requested" size="12" (change)="string2Date();">
        </div>
        <label for="lastDayRequested" class="col-2 col-form-label">through</label>
					<div class="col-4">
            <input [(ngModel)]="dateStrings[1]" type="date" class="form-control"
            name="last_day_requested" size="12" (change)="string2Date();">
          </div>
      </div>
          
      
      
      <div class="form-group row">
        <label for="reason" class="col-2 col-form-label">Reason:</label>
        <div class="col-10">
          <textarea [(ngModel)] = "this.vals.reason" name = "reason" class="form-control" type="text" rows="3"></textarea>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-10"></div>
        <div class="col-2">
          <button class="btn btn-primary" type="submit">Send Request</button>
        </div>
      </div>
      
    </form>
    
  </div>
  
  <div class="col-2"></div>
</div>
<router-outlet></router-outlet>
