<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Admin </title>
  <base href="/">
</head>




<body>
<div class="row">
  <div class="col-1"></div>

  <div class="col-10">

  </div>
  <div class="col-2"><app-employee-info-changes></app-employee-info-changes></div>
</div>




</body>
</html>



